<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="stylesheet" href="../static/css/index.css" />
    <title>PKM-BATTLE</title>
  </head>
  <body>
    <div id="root">
      <a href="/"><h1 class="f-w">PKM-BATTLE</h1></a>
      <nav class="menu">
        <a class="btt-link" href="">Jugar</a>
        <a class="btt-link" href="/pkm-list">PKM disponibles</a>
        <a class="btt-link" href="">Jugar</a>
        <a class="btt-link" href="">Jugar</a>
      </nav>
      <div class="video-background">
        <iframe
          src="https://www.youtube.com/embed/tnvwWrt7Rw0?autoplay=1&mute=1&loop=1&playlist=tnvwWrt7Rw0&controls=0"
          title="Video de fondo"
          frameborder="0"
          allow="autoplay"
        >
        </iframe>
      </div>
    </div>
  </body>
</html>
